
#include<windows.h>
#include<winresrc.h>
#include"identifier.h"
#include"dialog.h"

IDD_AUDIO_FILTER DIALOG 0, 0, 193, 67
STYLE WS_DLGFRAME | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "Filter Format"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Type the format to filter(format -> .mp3):",IDC_STATIC,7,7,130,8
    EDITTEXT        IDC_AUDIOFILTER_EDIT,7,21,179,14,ES_AUTOHSCROLL
    PUSHBUTTON      "OK",IDC_AUDIOFILTER_OK,13,44,68,16,BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON      "Cancel",IDC_AUDIOFILTER_CANCEL,111,44,68,16,BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP
END


IDD_AUDIO_PROPERTIES DIALOG 0,0,250,250
STYLE WS_DLGFRAME | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "File Information"
FONT 8, "MS Sans Serif"
BEGIN
    
END


IDD_ENCODER_AAC DIALOG 0, 0, 336, 150
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "AAC Encoder Settings"
FONT 8, "MS Sans Serif"
{
   CONTROL "Encoder Bitrate", IDC_STATIC, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 328, 88 
   CONTROL "Average Bitrate (ABR)", IDC_ENC_AAC_RADIO1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 16, 134, 12 
   CONTROL "Bitrate (kbps):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 22, 34, 56, 8 
   CONTROL "", IDC_ENC_AAC_ABR , "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 32, 64, 56
   CONTROL "Variable Bitrate (VBR)", IDC_ENC_AAC_RADIO2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 16, 172, 12 
   CONTROL "", IDC_ENC_AAC_VBR , "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 262, 32, 64, 56 
   CONTROL "Quality (%)\n(Higher quality = Larger file)", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 166, 32, 94, 32 
   CONTROL "Note:\n100% = approx. 120kbps VBR", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 166, 62, 142, 18 
   CONTROL "Advanced Options", IDC_STATIC, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 96, 328, 28 
   CONTROL "Force MPEG2 Output", IDC_ENC_AAC_CHECK1, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 108, 154, 12 
   CONTROL "Disable Temporal Noise Shaping", IDC_ENC_AAC_CHECK2, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 170, 108, 154, 12 
   CONTROL "Restore Defaults", IDC_ENC_AAC_RESTORE, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 128, 140, 19 
   CONTROL "OK", IDC_ENC_AAC_OK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 128, 74, 19 
   CONTROL "Cancel", IDC_ENC_AAC_CANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 255, 128, 74, 19 
}


IDD_ENCODER_FLAC DIALOG 0, 0, 350, 107
STYLE WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "flac Encoder Settings"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Encoder Compression",IDC_STATIC,7,7,333,33
    LTEXT           "Compression Level",IDC_STATIC,15,23,60,8
    COMBOBOX        IDC_ENC_FLAC_COMPRESS,85,19,242,28,CBS_DROPDOWNLIST
    PUSHBUTTON      "Resotre Default",IDC_ENC_FLAC_RESTORE,7,81,157,19,BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON      "OK",IDC_ENC_FLAC_OK,185,81,73,19,BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON      "Cancel",IDC_ENC_FLAC_CANCEL,267,81,73,19,BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP
    GROUPBOX        "Sample Rate",IDC_STATIC,7,43,168,33
    COMBOBOX        IDC_ENC_FLAC_SAMPLE,14,56,149,30,CBS_DROPDOWNLIST 
    GROUPBOX        "Channels",IDC_STATIC,181,43,160,32
    COMBOBOX        IDC_ENC_FLAC_CHANNEL,187,54,141,30,CBS_DROPDOWNLIST
END


IDD_ENCODER_MP3 DIALOG 0, 0, 336, 152
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "MP3 Encoder Settings"
FONT 8, "MS Sans Serif"
{
   CONTROL "Encoder Bitrate", IDC_STATIC, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 328, 88 
   CONTROL "Constant Bitrate (CBR)", IDC_ENC_MP3_RADIO1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 16, 134, 12 
   CONTROL "Bitrate (kbps):", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 22, 34, 56, 8 
   CONTROL "", IDC_ENC_MP3_CBR, "COMBOBOX", CBS_DROPDOWNLIST  | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 32, 64, 68 
   CONTROL "High quality encoding (slower)", IDC_ENC_MP3_QUALITY, "BUTTON", BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 22, 50, 120, 28 
   CONTROL "Variable Bitrate (VBR)", IDC_ENC_MP3_RADIO2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 16, 172, 12 
   CONTROL "Minimum Bitrate (kbps)", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 166, 34, 104, 8 
   CONTROL "", IDC_ENC_MP3_VBR_MIN, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 270, 32, 56, 66 
   CONTROL "Maximum Bitrate (kbps)", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 166, 52, 102, 8 
   CONTROL "", IDC_ENC_MP3_VBR_MAX, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 270, 50, 56, 66 
   CONTROL "Quality", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 166, 67, 102, 8 
   CONTROL "(Higher quality = Larger file)", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 166, 76, 102, 8 
   CONTROL "", IDC_ENC_MP3_CQUALITY, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE| WS_TABSTOP, 270, 70, 56, 66 
   CONTROL "Channels", IDC_STATIC, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 96, 144, 30 
   CONTROL "", IDC_ENC_MP3_CHANNEL, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 107, 130, 64 
   CONTROL "Error Protection", IDC_STATIC, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 151, 96, 181, 30 
   CONTROL "Add 16 bit checksum to every frame", IDC_ENC_MP3_ERROR, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 108, 167, 12 
   CONTROL "Restore Defaults", IDC_ENC_MP3_RESTORE, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 130, 130, 19 
   CONTROL "OK", IDC_ENC_MP3_OK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 162, 130, 74, 19 
   CONTROL "Cancel", IDC_ENC_MP3_CANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 255, 130, 74, 19 
}



IDD_ENCODER_MPC DIALOG 0, 0, 280, 54
STYLE WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "mpc Encoder Settings"
FONT 8, "MS Sans Serif"
{
   CONTROL       "Quality Preset", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 9, 133, 8 
   CONTROL       "", IDC_ENC_MPC_QUALITY, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 140, 7, 133, 80 
   CONTROL       "OK", IDC_ENC_MPC_OK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 32, 64, 19 
   PUSHBUTTON    "Cancel",IDC_ENC_MPC_CANCEL,210, 32, 64, 19,BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   PUSHBUTTON    "Resotre Default",IDC_ENC_MPC_RESTORE,7,32,120,19,BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP
}

/*
IDD_ENCODER_OGG DIALOG 0, 0, 336, 152
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME 
CAPTION "OGG Encoder"
FONT 8, "MS Sans Serif"
{
   CONTROL "Encoder Bitrate", IDC_STATIC, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 328, 88 
   CONTROL "Quality", IDC_ENC_OGG_RADIO1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 16, 134, 12 
   CONTROL "(Higher quality = Larger file)", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 22, 34, 98, 17 
   CONTROL "", IDC_ENC_OGG_QUALITY, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 22, 50, 64, 56 
   CONTROL "Variable Bitrate (VBR)", IDC_ENC_OGG_RADIO2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 16, 172, 12 
   CONTROL "", IDC_STATIC, "STATIC", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 148, 16, 1, 68 
   CONTROL "Minimum Bitrate (kbps)", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 166, 34, 94, 8 
   CONTROL "", IDC_ENC_OGG_MIN_BITRATE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 262, 32, 64, 56 
   CONTROL "Maximum Bitrate (kbps)", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 166, 52, 94, 8 
   CONTROL "", IDC_ENC_OGG_MAX_BITRATE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 262, 50, 64, 56 
   CONTROL "Channels", IDC_STATIC, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 96, 155, 30 
   CONTROL "", IDC_ENC_OGG_CHANNEL, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 9, 108, 140, 64 
   CONTROL "Comments", IDC_STATIC, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 169, 96, 162, 30 
   CONTROL "Discard Comments", IDC_ENC_OGG_COMMENT, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 174, 108, 150, 12 
   CONTROL "Restore Defaults", IDC_ENC_OGG_RESTORE, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 130, 155, 19 
   CONTROL "OK", IDC_ENC_OGG_OK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 130, 75, 19 
   CONTROL "Cancel", IDC_ENC_OGG_CANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 255, 130, 75, 19 
}


IDD_ENCODER_SPX DIALOG 0, 0, 280, 223
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "Speex Encoder Options"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "Quality Options", 101, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 8, 264, 137 
   CONTROL "Use Quality Preset", 102, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 20, 246, 10 
   CONTROL "Quality Setting", 104, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 28, 36, 112, 8 
   CONTROL "", 103, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 140, 34, 122, 80 
   CONTROL "Enable Constant Bitrate", 105, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 50, 246, 10 
   CONTROL "Bitrate", 107, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 28, 66, 112, 8 
   CONTROL "", 106, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 140, 64, 122, 80 
   CONTROL "Enable Variable Bitrate", 108, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 80, 246, 10 
   CONTROL "Maximum Bitrate", 110, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 28, 96, 112, 8 
   CONTROL "", 109, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 140, 94, 122, 80 
   CONTROL "Enable Average Bitrate", 111, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 110, 246, 10 
   CONTROL "Average Bitrate", 113,"STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 28, 126, 112, 8 
   CONTROL "", 112, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 140, 124, 122, 80 
   CONTROL "Extra Processing Options", 114, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 152, 264, 45 
   CONTROL "Apply adaptive gain control", 115, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 164, 246, 10 
   CONTROL "Denoise input before encoding", 116, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 178, 246, 10 
   CONTROL "OK", 1, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 203, 54, 14 
   CONTROL "Cancel", 2, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 161, 203, 54, 14 
   CONTROL "Help", 9, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 219, 203, 54, 14 
}
*/

/*
 *************************************************************************
  I HAVE USED NUMBERS ONLY(NOT DEFINED) FOR SETTING DIALOG................
 ************************************************************************* 
*/
1002 BITMAP "author.bmp"

IDD_RB_ABOUT DIALOG 0,0,280,243
STYLE WS_SYSMENU
CAPTION "About Author"
FONT 8,"MS Sans Serif"
BEGIN
PUSHBUTTON "OK",1001,90,220,100,20,BS_DEFPUSHBUTTON
END

IDD_SETTINGS DIALOG 0,0,280,180
STYLE WS_SYSMENU
CAPTION "Settings"
FONT 8,"MS Sans Serif"
BEGIN
GROUPBOX "General",0,10,10,260,130
LTEXT "Select your output folder:",0,20,30,80,20
CONTROL "",1003,"edit",ES_READONLY|WS_BORDER|ES_AUTOHSCROLL,20,45,180,15
PUSHBUTTON "Browse",1004,210,45,50,15
AUTOCHECKBOX "Show message when conversion is complete",1005,20,75,160,20
AUTOCHECKBOX "Show message if any file couldnot be converted",1006,20,95,165,20
AUTOCHECKBOX "Show me warning if computer is set to restart/shutdown after conversion",1007,20,115,240,20
PUSHBUTTON "OK",1008,90,150,100,20,BS_DEFPUSHBUTTON
END
