
#include"menu.h"
#include"identifier.h"

IDM_AUDIO_CONVERTER MENU
BEGIN


POPUP "&File"
BEGIN
MENUITEM "Add &Files\tCtrl+F",IDC_AUDIO_ADDFILES
MENUITEM "Add Fol&der\tCtrl+D",IDC_AUDIO_ADDFOLDER
MENUITEM "&Output Folder\tCtrl+O",IDC_AUDIO_EXPLORE
MENUITEM SEPARATOR
MENUITEM "&Remove\tCtrl+R",IDC_AUDIO_REMOVE
MENUITEM "R&emove &All\tCtrl+A",IDC_AUDIO_REMOVEALL
MENUITEM SEPARATOR
MENUITEM "Prop&erties\tCtrl+E",IDM_AUDIO_PROPERTIES
MENUITEM SEPARATOR
MENUITEM "Exit\tAlt+F4",IDC_AUDIO_EXIT
END


POPUP "&View"
BEGIN
POPUP "&On Top"
BEGIN
MENUITEM "&Never",IDM_AUDIO_ONTOP_NEVER
MENUITEM SEPARATOR
MENUITEM "&Always",IDM_AUDIO_ONTOP_ALWAYS
MENUITEM "&While Converting",IDM_AUDIO_ONTOP_CONVERTING
END
POPUP "&Transparency"
BEGIN
MENUITEM "00%",IDM_AUDIO_TRANS_ZERO
MENUITEM SEPARATOR
MENUITEM "10%",IDM_AUDIO_TRANS_TEN 
MENUITEM "20%",IDM_AUDIO_TRANS_TWENTY
MENUITEM "30%",IDM_AUDIO_TRANS_THIRTY
MENUITEM "40%",IDM_AUDIO_TRANS_FORTY
MENUITEM "50%",IDM_AUDIO_TRANS_FIFTY
MENUITEM "60%",IDM_AUDIO_TRANS_SIXTY
MENUITEM "70%",IDM_AUDIO_TRANS_SEVENTY
MENUITEM "80%",IDM_AUDIO_TRANS_EIGHTY
MENUITEM "90%",IDM_AUDIO_TRANS_NINTY
END
MENUITEM SEPARATOR
POPUP "&Menu Color"
BEGIN
POPUP "&Main Menu"
BEGIN
MENUITEM "&Default Menu",IDM_AUDIO_MAIN_COLOR_DEFAULT 
MENUITEM SEPARATOR
MENUITEM "&Red Menu",IDM_AUDIO_MAIN_COLOR_RED
MENUITEM "&Green Menu",IDM_AUDIO_MAIN_COLOR_GREEN
MENUITEM "&Blue Menu",IDM_AUDIO_MAIN_COLOR_BLUE
END
POPUP "&Popup Menu"
BEGIN
MENUITEM "&Default Menu",IDM_AUDIO_POPUP_COLOR_DEFAULT 
MENUITEM SEPARATOR
MENUITEM "&Red Menu",IDM_AUDIO_POPUP_COLOR_RED
MENUITEM "&Green Menu",IDM_AUDIO_POPUP_COLOR_GREEN
MENUITEM "&Blue Menu",IDM_AUDIO_POPUP_COLOR_BLUE
END
END
END


POPUP "&Convert"
BEGIN
MENUITEM "&Convert Files\tCtrl+C",IDC_AUDIO_CONVERT
MENUITEM "&Convert &Settings\t Ctrl+S",IDC_AUDIO_SETTINGS
MENUITEM SEPARATOR
MENUITEM "E&ncoder Options....\tCtrl+N",IDC_AUDIO_ENCODER
MENUITEM SEPARATOR
POPUP "&After Conversion"
BEGIN
MENUITEM "&Do Nothing",IDM_AUDIO_CONVERTER_NOTHING
MENUITEM SEPARATOR
MENUITEM "Close &Converter",IDM_AUDIO_CONVERTER_CLOSE_C 
//MENUITEM "Close &Player",IDM_AUDIO_CONVERTER_CLOSE_P
MENUITEM "&Log Off",IDM_AUDIO_CONVERTER_LOGOFF
MENUITEM "&Stand By",IDM_AUDIO_CONVERTER_STANDBY
MENUITEM "&Restart",IDM_AUDIO_CONVERTER_RESTART
MENUITEM "Sh&utdown",IDM_AUDIO_CONVERTER_SHUTDOWN
END
END


POPUP "&Help"
BEGIN
MENUITEM "&Help Topics...\tCtrl+H",IDC_AUDIO_HELP
MENUITEM SEPARATOR
MENUITEM "Abo&ut...\tCtrl+U",IDM_AUDIO_ABOUT
END
END


IDA_AUDIO_CONVERTER ACCELERATORS
BEGIN
"F",IDC_AUDIO_ADDFILES,VIRTKEY,CONTROL
"D",IDC_AUDIO_ADDFOLDER,VIRTKEY,CONTROL
"O",IDC_AUDIO_EXPLORE,VIRTKEY,CONTROL
"R",IDC_AUDIO_REMOVE,VIRTKEY,CONTROL
"A",IDC_AUDIO_REMOVEALL,VIRTKEY,CONTROL
"E",IDM_AUDIO_PROPERTIES,VIRTKEY,CONTROL
"C",IDC_AUDIO_CONVERT,VIRTKEY,CONTROL
"S",IDC_AUDIO_SETTINGS,VIRTKEY,CONTROL
"N",IDC_AUDIO_ENCODER,VIRTKEY,CONTROL
"H",IDC_AUDIO_HELP,VIRTKEY,CONTROL
"U",IDM_AUDIO_ABOUT,VIRTKEY,CONTROL
END
